body{
    font-family: Helvetica, sans-serif;
    font-size: 150%;
}
input{
    height: 40px;
    padding: 5px 5px 5px 5px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 315px;
}
label{
    position: relative;
    top: 12px;
    width: 220px;
    float: left;
}
#contenedor{
    width: 550px;
    margin: 0 auto;
}
.elemento-formulario{
    margin-bottom: 10px;
}
#botonEnviar{
    width: 200px;
    margin-left: 220px;
}
#mensajeErrorCampos{
    color: red;
    font-size: 110% !important;
}